<a href="https://colab.research.google.com/github/Dominic-Marasigan/CPEN-21A-CPE-1-1/blob/main/Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###For Loop Statement

In [118]:
#Example 1
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x  in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [119]:
#Example 2
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x  in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [120]:
#Example 3
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x  in week: 
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [121]:
#Example 4 
for x in "week":
  print(x)

w
e
e
k

Range Function

In [122]:
for x in range (6):
  print("Example 1:",x)

for x in range (2,6):
  print("Example 2:",x)

Example 1: 0
Example 1: 1
Example 1: 2
Example 1: 3
Example 1: 4
Example 1: 5
Example 2: 2
Example 2: 3
Example 2: 4
Example 2: 5

 Nested Loops

In [123]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

###Python While Loops

In [124]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Break Statement

In [125]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1 #Assignment Operator for Addition

1
2
3

Continue Statement

In [126]:

i = 0
while i < 6:
  i += 1 #Assignment Operator for Addition
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The Else Statement

In [127]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [128]:
hello = ["Hello 0","Hello 1","Hello 2",'Hello 3',"Hello 4", "Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]

for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [129]:
for x in range(11):
  print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2/Week 12 Assessment: Create a Python program that displays integers less than 10 but not less than 3

In [130]:
for x in range (3,10):
  print(x)

3
4
5
6
7
8
9

In [131]:
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9